<mat-card class="aux">
    <mat-card-content>
        <h2 class="title">Payment information</h2>

        <div class="flex wrapper">
            <div class="flex dates">
                <div>
                    <h3 class="sub-title">Start reservation</h3>
                    <span>{{this.payment.reserva.fechainicio| date: 'mediumDate'}}</span>
                </div>

                <div>
                    <h3 class="sub-title">Final reservation</h3>
                    <span>{{this.payment.reserva.fechafin| date: 'mediumDate'}}</span>
                </div>
            </div>

            <div class="flex dates">
                <div>
                    <h3 class="sub-title">Cost for room</h3>
                    <span>{{'S/.'+ ' '+this.payment.reserva.habitacion.preciopornoche}}</span>
                </div>

                <div>
                    <h3 class="sub-title">Cost Reservation</h3>
                    <span>{{'S/.'+ ' '+this.payment.reserva.monto}}</span>
                </div>

            </div>



            <div>
                <h3 class="sub-title">Services</h3>
                <div class="mat-elevation-z2 table-wrapper">
                    <table mat-table [dataSource]="dataSource">
                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Service name </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                      </ng-container>
                  
                      <!-- Description Column -->
                      <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                      </ng-container>
                  
                      <!-- Price Column -->
                      <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> Price </th>
                        <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
                      </ng-container>          
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  
                    <mat-paginator [pageSize]="5"
                                   showFirstLastButtons
                                   aria-label="Select page of services">
                    </mat-paginator>
                </div>

            </div>
            <span>Services price = {{ getTotalPrice() }}</span>

            <div>
                <h3 class="sub-title">Payment method</h3>
                <span>{{this.payment.metododepago}}</span>
            </div>

            <h3 class="total">{{'Total price = S/ ' + this.payment.monto}}</h3>
        </div>    
    </mat-card-content>

    <mat-dialog-actions >
        <button mat-button (click)="onClose()">Close</button>
    </mat-dialog-actions>
</mat-card>
