.title {
    color: var(--primary-text);
    font-size: 20px;
}
.description {
    color: var(--grey);
    font-size: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.wrapper {
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
}
h3 {
    color: var(--grey);
    font-weight: 500;
}
.sub-title {
    margin-bottom: 8px;
}
.total {
    color: var(--primary-text);
    font-weight: 600;
}